.main-grid-form {
  height: 70%;
  background-color: rgba(128, 128, 128, 0.08);
  display: flex;
  justify-content: center;
}
.inner-grid-form {
  height: 85%;
  display: flex;
  justify-content: center;
  margin-top: 5% !important;

  width: 92% !important;
}
.form-text-typography {
  font-size: 1.6rem !important;
  color: #08759a;
  font-family: Medium !important;
}
.form-text-box-common {
  background-color: white;
  width: 100%;
  margin-top: 1rem !important;
}
.find-button {
  height: 65%;
  width: 30%;
  border-radius: 3px !important;
  font-size: 1.4rem !important;
  font-family: Medium !important;
  text-transform: none !important;
}

@media screen and (max-width: 540px) {
  .find-button-width {
    width: 18rem !important;
  }
}
